#cart .product
{
	margin-bottom: 10px;
}
#cart .product img
{
	width: 100%;
}
#cart p.price
{
    line-height: 1.6em;
	font-size: 20px;
}
#cart .product button
{
    width: 35px;
    height: 35px;
    padding: 5px;
}
#cart .product input
{
    height: 35px;
    padding: 5px;
}
